{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always"
}
